@use './../abstract' as *;

header.header-container, footer{
  @include header-footer;
  background-color: var(--dark);
  transition: height .5s ease-in-out;

  &.show-navbar{
    height: calc(60px + 215.13px);
  }
}

main{
  &.static {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    position: relative;
    
    .static-container {
      max-width: 600px;
      width: 100%;
      height: 100%;
      position: relative;
    }
  }

  &.relative{
    width: 100%;
    min-height: calc(100% - (120px));
    @include flex-center;
    background-color: var(--bg-color);
  }
}